{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/> -->
      <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/> -->
      <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/track.css' %}"/> -->
      <title>MuserApp</title>
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
         <div class="container">
            <a class="navbar-brand" href="{% url 'mainapp:index' %}">MuseR</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                     <a class="nav-link" href="{% url 'mainapp:index' %}">Home
                        <span class="sr-only">(current)</span>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{% url 'mainapp:search_page' %}">Search</a>
                  </li>
                  {% if user.is_authenticated %}
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'mainapp:profile' %}">Profile</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'mainapp:library' %}">My Library</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'mainapp:log_out' %}">Logout</a>
                     </li>
                  {% else %}
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'mainapp:login' %}">Login</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'mainapp:sign_up' %}">Signup</a>
                     </li>
                  {% endif %}
               </ul>
            </div>
         </div>
      </nav>
      <br><br><br><br>
      {% block content %}
      {% endblock %}
      <footer class="footer py-4 bg-dark text-white-50 fixed-bottom" style="flex-shrink: none;">
      <div class="container text-center">
         <small style="color: white;">Copyright &copy; MuseR</small>
      </div>
   </footer>
      <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   </body>
</html>